USE [master]
GO
/****** Object:  Database [Explosives]    Script Date: 05/03/2021 13:43:01 ******/
CREATE DATABASE [Explosives] ON  PRIMARY 
( NAME = N'Explosives', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Explosives.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Explosives_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Explosives_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Explosives].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Explosives]
GO
/****** Object:  Schema [o2ss]    Script Date: 05/03/2021 13:43:01 ******/
CREATE SCHEMA [o2ss] AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[WORKPERMISSIONS]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKPERMISSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FDATE] [date] NULL,
	[FSIDENAME] [nvarchar](50) NULL,
	[SID] [int] NULL,
	[SDATE] [date] NULL,
	[PURPOSE] [nvarchar](50) NULL,
	[SSIDENAME] [nvarchar](50) NULL,
	[STATE] [nvarchar](50) NULL,
	[LOCATION] [nvarchar](50) NULL,
	[RANK] [nvarchar](20) NULL,
	[CLASS] [nvarchar](50) NULL,
	[NAME] [nvarchar](80) NULL,
	[POSITION] [nvarchar](70) NULL,
	[FINANCEID] [nvarchar](10) NULL,
	[VALID] [nvarchar](60) NULL,
	[OWNER] [nvarchar](100) NULL,
	[WorkPermissionNo] [int] NULL,
 CONSTRAINT [PK_WORKPERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WORKPERMISSIONS] ON
INSERT [dbo].[WORKPERMISSIONS] ([ID], [FDATE], [FSIDENAME], [SID], [SDATE], [PURPOSE], [SSIDENAME], [STATE], [LOCATION], [RANK], [CLASS], [NAME], [POSITION], [FINANCEID], [VALID], [OWNER], [WorkPermissionNo]) VALUES (1, CAST(0x02420B00 AS Date), N'شركة اليانس للتعدين', NULL, CAST(0x09420B00 AS Date), N'تعدين الذهب', N'', N'البحر الاحمر', N' الياسمين / الكليس', N'', N'', N'', NULL, N'', N'نعم', N'', 1)
INSERT [dbo].[WORKPERMISSIONS] ([ID], [FDATE], [FSIDENAME], [SID], [SDATE], [PURPOSE], [SSIDENAME], [STATE], [LOCATION], [RANK], [CLASS], [NAME], [POSITION], [FINANCEID], [VALID], [OWNER], [WorkPermissionNo]) VALUES (2, CAST(0x02420B00 AS Date), N'شركة مانوب للتعدين', NULL, CAST(0x02420B00 AS Date), N'تعدين الذهب', N'', N'نهر النيل', N'قبقبة', N'عميد ركن', N'', N'نديـم حامــد تبـــري كبـــــدان', N'مفتش عام مفرقعات السودان', N'', N'نعم', N'', 2)
INSERT [dbo].[WORKPERMISSIONS] ([ID], [FDATE], [FSIDENAME], [SID], [SDATE], [PURPOSE], [SSIDENAME], [STATE], [LOCATION], [RANK], [CLASS], [NAME], [POSITION], [FINANCEID], [VALID], [OWNER], [WorkPermissionNo]) VALUES (3, CAST(0x07420B00 AS Date), N'أعمال ودالمصطفي للرخام', NULL, CAST(0x07420B00 AS Date), N'انتاج الرخام', N'', N'نهر النيل ', N'وادي الكرمت', N'عميد ركن', N'', N'نديـم حامــد تبـــري كبـــــدان', N'مفتش عام مفرقعات السودان', N'', N'نعم', N'', 3)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[WORKPERMISSIONS] OFF
/****** Object:  Table [dbo].[WorkCopiesDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCopiesDetails](
	[WorkCopySirsID] [int] IDENTITY(1,1) NOT NULL,
	[Sirs] [nvarchar](150) NULL,
	[WorkCopyID] [int] NULL,
 CONSTRAINT [PK_WorkCopiesDetails] PRIMARY KEY CLUSTERED 
(
	[WorkCopySirsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WorkCopiesDetails] ON
INSERT [dbo].[WorkCopiesDetails] ([WorkCopySirsID], [Sirs], [WorkCopyID]) VALUES (1, N'السيد/ مدير شرطة ولاية كسلا', 93)
INSERT [dbo].[WorkCopiesDetails] ([WorkCopySirsID], [Sirs], [WorkCopyID]) VALUES (2, N'السيد/ مدير وحدة امن كسلا', 93)
INSERT [dbo].[WorkCopiesDetails] ([WorkCopySirsID], [Sirs], [WorkCopyID]) VALUES (3, N'السيد/ مدير شرطة ولاية نهر النيل', 118)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[WorkCopiesDetails] OFF
/****** Object:  Table [dbo].[WorkCopies1]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCopies1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[sirs] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
 CONSTRAINT [PK_WorkCopies1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkCopies]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkCopies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[State] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
 CONSTRAINT [PK_WorkCopies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WorkCopies] ON
INSERT [dbo].[WorkCopies] ([ID], [State], [Region]) VALUES (1, N'البحر الاحمر', N' الياسمين / الكليس')
INSERT [dbo].[WorkCopies] ([ID], [State], [Region]) VALUES (2, N'البحر الأحمر', N'أويو')
INSERT [dbo].[WorkCopies] ([ID], [State], [Region]) VALUES (3, N'البحر الأحمر', N'جبال نمر (العلاق)')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[WorkCopies] OFF
/****** Object:  Table [dbo].[WORKALLOWED]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKALLOWED](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SIDENAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[TEL1] [nvarchar](15) NULL,
	[TEL2] [nvarchar](15) NULL,
	[TEL3] [nvarchar](15) NULL,
	[E_MAIL] [nvarchar](100) NULL,
	[FAX] [nvarchar](15) NULL,
	[POB] [nvarchar](20) NULL,
	[OTHER] [nvarchar](1000) NULL,
	[FDATE] [date] NULL,
	[SIGHT1] [nvarchar](50) NULL,
	[SIGHT2] [nvarchar](50) NULL,
	[OTHERSIGHTS] [nvarchar](1000) NULL,
	[OWNER] [nvarchar](100) NULL,
 CONSTRAINT [PK_WORKALLOWED] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WORKALLOWED] ON
INSERT [dbo].[WORKALLOWED] ([ID], [SIDENAME], [ADDRESS], [TEL1], [TEL2], [TEL3], [E_MAIL], [FAX], [POB], [OTHER], [FDATE], [SIGHT1], [SIGHT2], [OTHERSIGHTS], [OWNER]) VALUES (1, N'شركة هوادونق للتعدين والصناعة المحدودة', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'القعب', NULL, NULL, NULL)
INSERT [dbo].[WORKALLOWED] ([ID], [SIDENAME], [ADDRESS], [TEL1], [TEL2], [TEL3], [E_MAIL], [FAX], [POB], [OTHER], [FDATE], [SIGHT1], [SIGHT2], [OTHERSIGHTS], [OWNER]) VALUES (2, N'العليف للتعدين', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'نورايا', NULL, NULL, NULL)
INSERT [dbo].[WORKALLOWED] ([ID], [SIDENAME], [ADDRESS], [TEL1], [TEL2], [TEL3], [E_MAIL], [FAX], [POB], [OTHER], [FDATE], [SIGHT1], [SIGHT2], [OTHERSIGHTS], [OWNER]) VALUES (3, N'شركة نبتة للجيلوجيا والتعدين المحدودة', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'غرب عطبرة / أم الطيور', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[WORKALLOWED] OFF
/****** Object:  Table [dbo].[Townships]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Townships](
	[TownshipID] [int] IDENTITY(1,1) NOT NULL,
	[Township] [nvarchar](50) NULL,
	[StateID] [int] NULL,
 CONSTRAINT [PK_Townships] PRIMARY KEY CLUSTERED 
(
	[TownshipID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Security]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Security](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Rank] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[Unit] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Security] ON
INSERT [dbo].[Security] ([ID], [Username], [Password], [Rank], [FullName], [Unit], [Type]) VALUES (1, N'exp', N'123', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Security] OFF
/****** Object:  Table [dbo].[PermissionsCopies]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionsCopies](
	[PermissionsCopyID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCopy] [nvarchar](500) NULL,
	[PermissionNameID] [int] NULL,
 CONSTRAINT [PK_PermissionsCopies] PRIMARY KEY CLUSTERED 
(
	[PermissionsCopyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSIONS]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FID] [nvarchar](20) NULL,
	[PLACE] [nvarchar](20) NULL,
	[FDATE] [date] NULL,
	[LICENSEID] [nvarchar](20) NULL,
	[SENDER] [nvarchar](200) NULL,
	[SENDERADDRESS] [nvarchar](200) NULL,
	[RECEIVERADDRESS] [nvarchar](200) NULL,
	[POINT1] [nvarchar](30) NULL,
	[POINT2] [nvarchar](30) NULL,
	[POINT3] [nvarchar](30) NULL,
	[TRANSPORTEDBY] [nvarchar](15) NULL,
	[TOSTORE] [nvarchar](120) NULL,
	[STOREID] [nvarchar](20) NULL,
	[FFROM] [date] NULL,
	[FTO] [date] NULL,
	[STOREDATE] [date] NULL,
	[CLASS] [nvarchar](max) NULL,
	[RECEIVER] [nvarchar](250) NULL,
	[AMMOUNT] [nvarchar](max) NULL,
	[UNIT] [nvarchar](max) NULL,
	[RANK] [nvarchar](20) NULL,
	[NAME] [nvarchar](80) NULL,
	[POSITION] [nvarchar](60) NULL,
	[FINANCEID] [nvarchar](10) NULL,
	[FYEAR] [nvarchar](4) NULL,
	[PURPOSE] [nvarchar](50) NULL,
	[WORKPERMISSION] [nvarchar](30) NULL,
	[PassPermissionNo] [int] NULL,
	[IsImport] [nvarchar](30) NULL,
	[IsDistruct] [nvarchar](30) NULL,
 CONSTRAINT [PK_PERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PERMISSIONS] ON
SET IDENTITY_INSERT [dbo].[PERMISSIONS] OFF
/****** Object:  Table [dbo].[PermissionNames]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionNames](
	[PermissionNameID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](150) NULL,
 CONSTRAINT [PK_PermissionNames] PRIMARY KEY CLUSTERED 
(
	[PermissionNameID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PermissionNames] ON
INSERT [dbo].[PermissionNames] ([PermissionNameID], [PermissionName]) VALUES (1, N'منح إذن استخدام')
INSERT [dbo].[PermissionNames] ([PermissionNameID], [PermissionName]) VALUES (2, N'منح إذن استيراد')
INSERT [dbo].[PermissionNames] ([PermissionNameID], [PermissionName]) VALUES (3, N'منح إذن الخروج')
SET IDENTITY_INSERT [dbo].[PermissionNames] OFF
/****** Object:  Table [dbo].[PermissionDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionDetails](
	[PermissionDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionID] [int] NULL,
	[Description] [nvarchar](150) NULL,
	[Unit] [nvarchar](15) NULL,
	[Quanitity] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PermissionDetails] PRIMARY KEY CLUSTERED 
(
	[PermissionDetailsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PermissionDetails] ON
INSERT [dbo].[PermissionDetails] ([PermissionDetailsID], [PermissionID], [Description], [Unit], [Quanitity]) VALUES (9, 2, N'نترات أمونيوم', N'كجم', CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[PermissionDetails] ([PermissionDetailsID], [PermissionID], [Description], [Unit], [Quanitity]) VALUES (57, 3, N'كورتكس', N'متر', CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[PermissionDetails] ([PermissionDetailsID], [PermissionID], [Description], [Unit], [Quanitity]) VALUES (58, 3, N'كبسولة كهربائية لحظية 4 متر', N'قطعة', CAST(250.00 AS Decimal(18, 2)))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[PermissionDetails] OFF
/****** Object:  Table [dbo].[PassCopiesDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassCopiesDetails](
	[PassCopySirsID] [int] IDENTITY(1,1) NOT NULL,
	[Sirs] [nvarchar](150) NULL,
	[PassCopyID] [int] NULL,
 CONSTRAINT [PK_PassCopiesDetails] PRIMARY KEY CLUSTERED 
(
	[PassCopySirsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PassCopiesDetails] ON
INSERT [dbo].[PassCopiesDetails] ([PassCopySirsID], [Sirs], [PassCopyID]) VALUES (1, N'السيد/ مدير ادراة العمليات البرية', 41)
INSERT [dbo].[PassCopiesDetails] ([PassCopySirsID], [Sirs], [PassCopyID]) VALUES (2, N'السيد/ مدير ادارة الاستخبارات البرية', 41)
INSERT [dbo].[PassCopiesDetails] ([PassCopySirsID], [Sirs], [PassCopyID]) VALUES (3, N'السيد/ مدير ادارة الامن الوقائي', 41)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[PassCopiesDetails] OFF
/****** Object:  Table [dbo].[PassCopies1]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassCopies1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [nvarchar](150) NULL,
	[Receiver] [nvarchar](150) NULL,
	[Sirs] [nvarchar](150) NULL,
	[Point1] [nvarchar](50) NULL,
	[Point2] [nvarchar](50) NULL,
	[Point3] [nvarchar](50) NULL,
 CONSTRAINT [PK_PassCopies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassCopies]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassCopies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [nvarchar](50) NULL,
	[Receiver] [nvarchar](50) NULL,
	[Point1] [nvarchar](50) NULL,
	[Point2] [nvarchar](50) NULL,
	[Point3] [nvarchar](50) NULL,
 CONSTRAINT [PK_PassCopies_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PassCopies] ON
INSERT [dbo].[PassCopies] ([ID], [Sender], [Receiver], [Point1], [Point2], [Point3]) VALUES (1, N'', N'', N'الخرطوم', N'الجيلي', N'قري')
INSERT [dbo].[PassCopies] ([ID], [Sender], [Receiver], [Point1], [Point2], [Point3]) VALUES (3, N'', N'', N'جنوب كردفان', N' التضامن', N'تلودي')
INSERT [dbo].[PassCopies] ([ID], [Sender], [Receiver], [Point1], [Point2], [Point3]) VALUES (7, N'', N'', N'حجر العسل', N'الأبيض', N'الجنينة')
SET IDENTITY_INSERT [dbo].[PassCopies] OFF
/****** Object:  Table [dbo].[OurImportDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OurImportDetails](
	[OurImportDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Unit] [nvarchar](50) NULL,
	[SampleNo] [nvarchar](50) NULL,
	[RecordNo] [nvarchar](50) NULL,
	[OurImportID] [int] NULL,
 CONSTRAINT [PK_OurImportDetails] PRIMARY KEY CLUSTERED 
(
	[OurImportDetailsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OurImportDetails] ON
INSERT [dbo].[OurImportDetails] ([OurImportDetailsID], [Description], [Quantity], [Unit], [SampleNo], [RecordNo], [OurImportID]) VALUES (12, N'نترات امونيوم ', CAST(175587.00 AS Decimal(18, 2)), N'كجم', N'', N'', 1)
INSERT [dbo].[OurImportDetails] ([OurImportDetailsID], [Description], [Quantity], [Unit], [SampleNo], [RecordNo], [OurImportID]) VALUES (13, N'أنفو', CAST(475.00 AS Decimal(18, 2)), N'كجم', N'', N'', 1)
INSERT [dbo].[OurImportDetails] ([OurImportDetailsID], [Description], [Quantity], [Unit], [SampleNo], [RecordNo], [OurImportID]) VALUES (14, N'كبسولة كهربائية تاخيرية 4 متر', CAST(42641.00 AS Decimal(18, 2)), N'قطعة', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[OurImportDetails] OFF
/****** Object:  Table [dbo].[OURIMPORT]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OURIMPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](50) NULL,
	[DISTRACTOR] [nvarchar](150) NULL,
	[STATIONREC] [nvarchar](150) NULL,
	[RECEIVER] [nvarchar](150) NULL,
	[CONSIGNMENT] [nvarchar](150) NULL,
	[DISTDATE] [date] NULL,
	[POLICYID] [nvarchar](50) NULL,
	[NOTES] [nvarchar](150) NULL,
	[DISTRACTAUTHERITY] [nvarchar](150) NULL,
	[RANK] [nvarchar](150) NULL,
	[DISTSIGNATURE] [nvarchar](150) NULL,
	[DISTADOPTION] [nvarchar](150) NULL,
	[RECAUTHERITY] [nvarchar](150) NULL,
	[RECRANK] [nvarchar](150) NULL,
	[RECNAME] [nvarchar](150) NULL,
	[DISTNAME] [nvarchar](150) NULL,
	[RECSIGNATURE] [nvarchar](150) NULL,
	[RECADOPTION] [nvarchar](150) NULL,
	[DURATION] [nvarchar](150) NULL,
	[STATIONDIST] [nvarchar](150) NULL,
	[INSTRUCTIONS] [nvarchar](150) NULL,
	[OurImportNo] [int] NULL,
 CONSTRAINT [PK_OURIMPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OURIMPORT] ON
INSERT [dbo].[OURIMPORT] ([ID], [ACCOUNT], [DISTRACTOR], [STATIONREC], [RECEIVER], [CONSIGNMENT], [DISTDATE], [POLICYID], [NOTES], [DISTRACTAUTHERITY], [RANK], [DISTSIGNATURE], [DISTADOPTION], [RECAUTHERITY], [RECRANK], [RECNAME], [DISTNAME], [RECSIGNATURE], [RECADOPTION], [DURATION], [STATIONDIST], [INSTRUCTIONS], [OurImportNo]) VALUES (1, N'مفرقعات', NULL, NULL, NULL, NULL, CAST(0x6A420B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OURIMPORT] OFF
/****** Object:  Table [dbo].[OurDistractDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OurDistractDetails](
	[OurDistractDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[Unit] [nvarchar](20) NULL,
	[SampleNo] [nvarchar](50) NULL,
	[RecordNo] [nvarchar](50) NULL,
	[OurDistractID] [int] NULL,
 CONSTRAINT [PK_OurDistractDetails] PRIMARY KEY CLUSTERED 
(
	[OurDistractDetailsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OurDistractDetails] ON
INSERT [dbo].[OurDistractDetails] ([OurDistractDetailsID], [Description], [Quantity], [Unit], [SampleNo], [RecordNo], [OurDistractID]) VALUES (4, N'نترات أمونيوم', CAST(25000.00 AS Decimal(18, 2)), N'كجم', N'', N'', 2)
INSERT [dbo].[OurDistractDetails] ([OurDistractDetailsID], [Description], [Quantity], [Unit], [SampleNo], [RecordNo], [OurDistractID]) VALUES (8, N'كورتكس', CAST(5000.00 AS Decimal(18, 2)), N'متر', N'', N'', 3)
INSERT [dbo].[OurDistractDetails] ([OurDistractDetailsID], [Description], [Quantity], [Unit], [SampleNo], [RecordNo], [OurDistractID]) VALUES (9, N'كبسولة كهربائية لحظية 4 متر', CAST(250.00 AS Decimal(18, 2)), N'قطعة', N'', N'', 3)
SET IDENTITY_INSERT [dbo].[OurDistractDetails] OFF
/****** Object:  Table [dbo].[OURDISTRACT]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OURDISTRACT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](20) NULL,
	[DISTRACTOR] [nvarchar](100) NULL,
	[STATIONREC] [nvarchar](50) NULL,
	[RECEIVER] [nvarchar](50) NULL,
	[CONSIGNMENT] [nvarchar](50) NULL,
	[DISTDATE] [date] NULL,
	[POLICYID] [nvarchar](20) NULL,
	[NOTES] [nvarchar](70) NULL,
	[DISTRACTAUTHERITY] [nvarchar](50) NULL,
	[RANK] [nvarchar](20) NULL,
	[DISTSIGNATURE] [nvarchar](40) NULL,
	[DISTADOPTION] [nvarchar](50) NULL,
	[RECAUTHERITY] [nvarchar](50) NULL,
	[RECRANK] [nvarchar](20) NULL,
	[RECNAME] [nvarchar](80) NULL,
	[DISTNAME] [nvarchar](80) NULL,
	[RECSIGNATURE] [nvarchar](40) NULL,
	[RECADOPTION] [nvarchar](20) NULL,
	[DURATION] [nvarchar](30) NULL,
	[STATIONDIST] [nvarchar](30) NULL,
	[INSTRUCTIONS] [nvarchar](80) NULL,
	[OurDistractNo] [int] NULL,
 CONSTRAINT [PK_OURDISTRACT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OURDISTRACT] ON
INSERT [dbo].[OURDISTRACT] ([ID], [ACCOUNT], [DISTRACTOR], [STATIONREC], [RECEIVER], [CONSIGNMENT], [DISTDATE], [POLICYID], [NOTES], [DISTRACTAUTHERITY], [RANK], [DISTSIGNATURE], [DISTADOPTION], [RECAUTHERITY], [RECRANK], [RECNAME], [DISTNAME], [RECSIGNATURE], [RECADOPTION], [DURATION], [STATIONDIST], [INSTRUCTIONS], [OurDistractNo]) VALUES (1, N'مفرقعات', N'شركة تارقيت للأنشطة المتعددة المحدودة', NULL, N'العليف للتعدين', NULL, CAST(0x6A420B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[OURDISTRACT] ([ID], [ACCOUNT], [DISTRACTOR], [STATIONREC], [RECEIVER], [CONSIGNMENT], [DISTDATE], [POLICYID], [NOTES], [DISTRACTAUTHERITY], [RANK], [DISTSIGNATURE], [DISTADOPTION], [RECAUTHERITY], [RECRANK], [RECNAME], [DISTNAME], [RECSIGNATURE], [RECADOPTION], [DURATION], [STATIONDIST], [INSTRUCTIONS], [OurDistractNo]) VALUES (2, N'مفرقعات', N'شركة تارقيت للأنشطة المتعددة المحدودة', NULL, N'شركة مانوب للتعدين', NULL, CAST(0x6B420B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[OURDISTRACT] ([ID], [ACCOUNT], [DISTRACTOR], [STATIONREC], [RECEIVER], [CONSIGNMENT], [DISTDATE], [POLICYID], [NOTES], [DISTRACTAUTHERITY], [RANK], [DISTSIGNATURE], [DISTADOPTION], [RECAUTHERITY], [RECRANK], [RECNAME], [DISTNAME], [RECSIGNATURE], [RECADOPTION], [DURATION], [STATIONDIST], [INSTRUCTIONS], [OurDistractNo]) VALUES (3, N'مفرقعات', N'شركة تارقيت للأنشطة المتعددة المحدودة', NULL, N' الرضاء للانشطة المتعددة', NULL, CAST(0x6C420B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OURDISTRACT] OFF
/****** Object:  Table [dbo].[NOOBJECTIONS1]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOOBJECTIONS1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FDATE] [date] NULL,
	[FSIDENAME] [nvarchar](80) NULL,
	[SID] [nvarchar](20) NULL,
	[SDATE] [date] NULL,
	[SSIDENAME] [nvarchar](80) NULL,
	[EXPORTER] [nvarchar](80) NULL,
	[COUNTRY] [nvarchar](30) NULL,
	[AMMOUNT] [decimal](18, 3) NULL,
	[UNIT] [nvarchar](15) NULL,
	[CLASS] [nvarchar](250) NULL,
	[POS] [decimal](18, 0) NULL,
	[NAME] [nvarchar](80) NULL,
	[POSITION] [nvarchar](80) NULL,
	[NOOBJECTIONID] [decimal](18, 0) NULL,
	[FINANCEID] [nvarchar](50) NULL,
	[RANK] [nvarchar](25) NULL,
 CONSTRAINT [PK_NOOBJECTIONS1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOOBJECTIONS]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOOBJECTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FDATE] [date] NULL,
	[FSIDENAME] [nvarchar](80) NULL,
	[SID] [nvarchar](20) NULL,
	[SDATE] [date] NULL,
	[SSIDENAME] [nvarchar](80) NULL,
	[EXPORTER] [nvarchar](80) NULL,
	[COUNTRY] [nvarchar](30) NULL,
	[AMMOUNT] [decimal](18, 3) NULL,
	[UNIT] [nvarchar](15) NULL,
	[CLASS] [nvarchar](250) NULL,
	[POS] [decimal](18, 0) NULL,
	[NAME] [nvarchar](80) NULL,
	[POSITION] [nvarchar](80) NULL,
	[NOOBJECTIONID] [decimal](18, 0) NULL,
	[FINANCEID] [nvarchar](50) NULL,
	[RANK] [nvarchar](25) NULL,
	[NoObjectionNo] [int] NULL,
 CONSTRAINT [PK_NOOBJECTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoObjectionDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoObjectionDetails](
	[NoObjectionDetailID] [int] IDENTITY(1,1) NOT NULL,
	[Class] [nvarchar](200) NULL,
	[Unit] [nvarchar](20) NULL,
	[Quantity] [decimal](18, 3) NULL,
	[NoObjectionID] [int] NULL,
 CONSTRAINT [PK_NoObjectionDetails] PRIMARY KEY CLUSTERED 
(
	[NoObjectionDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovementForms]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovementForms](
	[MovementFormID] [int] IDENTITY(1,1) NOT NULL,
	[MovementDate] [date] NULL,
	[Sender] [nvarchar](150) NULL,
	[Receiver] [nvarchar](150) NULL,
	[Commander] [nvarchar](150) NULL,
	[Guard1] [nvarchar](150) NULL,
	[Rank1] [nvarchar](50) NULL,
	[Name1] [nvarchar](150) NULL,
	[Position1] [nvarchar](150) NULL,
	[Rank2] [nvarchar](50) NULL,
	[Name2] [nvarchar](150) NULL,
	[Position2] [nvarchar](150) NULL,
	[Rank3] [nvarchar](50) NULL,
	[Name3] [nvarchar](150) NULL,
	[Position3] [nvarchar](150) NULL,
	[NoObjectionID] [int] NULL,
	[PassPermissionID] [int] NULL,
	[SenderLocation] [nvarchar](50) NULL,
	[ReceiverLocation] [nvarchar](50) NULL,
	[Point1] [nvarchar](50) NULL,
	[Point2] [nvarchar](50) NULL,
	[Point3] [nvarchar](50) NULL,
	[MovementFormNo] [int] NULL,
	[TRANSPORTEDBY] [nvarchar](50) NULL,
 CONSTRAINT [PK_MovementForms] PRIMARY KEY CLUSTERED 
(
	[MovementFormID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MovementForms] ON
SET IDENTITY_INSERT [dbo].[MovementForms] OFF
/****** Object:  Table [dbo].[MovementFormDetials]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovementFormDetials](
	[MovementFormDetialID] [int] IDENTITY(1,1) NOT NULL,
	[Class] [nvarchar](150) NULL,
	[Unit] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[MovementFormID] [int] NULL,
	[MovementPath] [nvarchar](50) NULL,
 CONSTRAINT [PK_MovementFormDetials] PRIMARY KEY CLUSTERED 
(
	[MovementFormDetialID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MovementFormDetials] ON
INSERT [dbo].[MovementFormDetials] ([MovementFormDetialID], [Class], [Unit], [Quantity], [MovementFormID], [MovementPath]) VALUES (31, N'كورتكس', N'متر', 5000, 3, N'حجر العسل')
INSERT [dbo].[MovementFormDetials] ([MovementFormDetialID], [Class], [Unit], [Quantity], [MovementFormID], [MovementPath]) VALUES (32, N'كبسولة كهربائية لحظية 4 متر', N'قطعة', 250, 3, N'الملتقي')
INSERT [dbo].[MovementFormDetials] ([MovementFormDetialID], [Class], [Unit], [Quantity], [MovementFormID], [MovementPath]) VALUES (33, N'نترات أمونيوم', N'كجم', 500, 3, N'دلقو')
SET IDENTITY_INSERT [dbo].[MovementFormDetials] OFF
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[IMPORTPERMISSIONS]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORTPERMISSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FDATE] [date] NULL,
	[SID] [nvarchar](20) NULL,
	[SDATE] [date] NULL,
	[PERMITTED] [nvarchar](80) NULL,
	[CRAFTSMANSHIP] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](150) NULL,
	[PORT] [nvarchar](30) NULL,
	[EXPLOSIVESID] [nvarchar](1000) NULL,
	[POINT1] [nvarchar](15) NULL,
	[POINT2] [nvarchar](15) NULL,
	[POINT3] [nvarchar](15) NULL,
	[RANK] [nvarchar](15) NULL,
	[NAME] [nvarchar](150) NULL,
	[POSITION] [nvarchar](150) NULL,
	[NOOBJECTIONID] [nvarchar](50) NULL,
	[FINANCEID] [nvarchar](50) NULL,
	[ImportPermissionNo] [int] NULL,
 CONSTRAINT [PK_IMPORTPERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IMPORTPERMISSIONS] ON
INSERT [dbo].[IMPORTPERMISSIONS] ([ID], [FDATE], [SID], [SDATE], [PERMITTED], [CRAFTSMANSHIP], [ADDRESS], [PORT], [EXPLOSIVESID], [POINT1], [POINT2], [POINT3], [RANK], [NAME], [POSITION], [NOOBJECTIONID], [FINANCEID], [ImportPermissionNo]) VALUES (2, CAST(0x74420B00 AS Date), NULL, CAST(0x74420B00 AS Date), N'شركة تارقيت للأنشطة المتعددة المحدودة', N'تسويق المتفجرات التجارية', N'بحري - كافوري - مربع 11 - عقار رقم 22', N'ميناء وادي حلفا', NULL, N'وادي حلفا', N'دنقلا ', N'حجر العسل', N'لواء ركن', N'نديــــم حامــد تبــــري كبـــدان', N'مفتش عام مفرقعات الســـودان', NULL, NULL, 8)
SET IDENTITY_INSERT [dbo].[IMPORTPERMISSIONS] OFF
/****** Object:  Table [dbo].[ImportPermissionDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportPermissionDetails](
	[ImportPermissionsDetailID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Unit] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[ImportPermissionID] [int] NULL,
 CONSTRAINT [PK_ImportPermissionsDetails] PRIMARY KEY CLUSTERED 
(
	[ImportPermissionsDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ImportPermissionDetails] ON
INSERT [dbo].[ImportPermissionDetails] ([ImportPermissionsDetailID], [Description], [Unit], [Quantity], [ImportPermissionID]) VALUES (5, N'نترات أمونيوم', N'طن', 300, 2)
INSERT [dbo].[ImportPermissionDetails] ([ImportPermissionsDetailID], [Description], [Unit], [Quantity], [ImportPermissionID]) VALUES (6, N'حاوية', N'40 قدم', 20, 1)
INSERT [dbo].[ImportPermissionDetails] ([ImportPermissionsDetailID], [Description], [Unit], [Quantity], [ImportPermissionID]) VALUES (7, N'حاوية', N'20قدم', 2, 1)
SET IDENTITY_INSERT [dbo].[ImportPermissionDetails] OFF
/****** Object:  Table [dbo].[IMPORTCLASS]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORTCLASS](
	[AMMOUNT] [decimal](10, 0) NULL,
	[CLASS] [nvarchar](35) NULL,
	[UNIT] [nvarchar](15) NULL,
	[FID] [int] NULL,
	[CLASSID] [int] NULL,
	[RECEIVER] [nvarchar](50) NULL,
	[DISTRACTOR] [nvarchar](50) NULL,
	[RECORD] [nvarchar](15) NULL,
	[ACCOUNT] [nvarchar](20) NULL,
	[DISTDATE] [date] NULL,
	[BALANCED] [nvarchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_IMPORTCLASS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPORTALLOWED]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORTALLOWED](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FDATE] [date] NULL,
	[SIDENAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[TEL1] [nvarchar](15) NULL,
	[TEL2] [nvarchar](15) NULL,
	[TEL3] [nvarchar](15) NULL,
	[E_MAIL] [nvarchar](30) NULL,
	[FAX] [nvarchar](15) NULL,
	[POB] [nvarchar](20) NULL,
	[OTHER] [nvarchar](100) NULL,
	[IsDistributor] [bit] NULL,
	[ImportAllowedNo] [int] NULL,
 CONSTRAINT [PK_IMPORTALLOWED] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IMPORTALLOWED] ON
INSERT [dbo].[IMPORTALLOWED] ([ID], [FDATE], [SIDENAME], [ADDRESS], [TEL1], [TEL2], [TEL3], [E_MAIL], [FAX], [POB], [OTHER], [IsDistributor], [ImportAllowedNo]) VALUES (1, NULL, N'شركة تارقيت للأنشطة المتعددة المحدودة', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[IMPORTALLOWED] OFF
/****** Object:  Table [dbo].[GasDepots]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GasDepots](
	[GasDepotID] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](150) NULL,
	[Representitive] [nvarchar](100) NULL,
	[PermissionDate] [date] NULL,
	[CompanyLetterDate] [date] NULL,
	[State] [nvarchar](50) NULL,
	[Township] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Land] [nvarchar](20) NULL,
	[Block] [nvarchar](20) NULL,
	[Rank] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NULL,
	[UrbanPlanningLetterNo] [nvarchar](50) NULL,
	[GasDepotNo] [int] NULL,
	[UrbanPlanningLetterDate] [date] NULL,
	[Area] [nvarchar](20) NULL,
 CONSTRAINT [PK_GasDepots] PRIMARY KEY CLUSTERED 
(
	[GasDepotID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GasDepots] ON
INSERT [dbo].[GasDepots] ([GasDepotID], [Company], [Representitive], [PermissionDate], [CompanyLetterDate], [State], [Township], [City], [Land], [Block], [Rank], [Name], [Position], [UrbanPlanningLetterNo], [GasDepotNo], [UrbanPlanningLetterDate], [Area]) VALUES (1, NULL, NULL, CAST(0x6A420B00 AS Date), CAST(0x6A420B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GasDepots] OFF
/****** Object:  Table [dbo].[GasCenters]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GasCenters](
	[GasCenterID] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](150) NULL,
	[GasType] [nvarchar](20) NULL,
	[Representitive] [nvarchar](100) NULL,
	[PermissionDate] [date] NULL,
	[CompanyLetterDate] [date] NULL,
	[State] [nvarchar](50) NULL,
	[Township] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Land] [nvarchar](20) NULL,
	[Block] [nvarchar](20) NULL,
	[Rank] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NULL,
	[GasCenterNo] [int] NULL,
 CONSTRAINT [PK_GasCenters] PRIMARY KEY CLUSTERED 
(
	[GasCenterID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GasCenters] ON
INSERT [dbo].[GasCenters] ([GasCenterID], [Company], [GasType], [Representitive], [PermissionDate], [CompanyLetterDate], [State], [Township], [City], [Land], [Block], [Rank], [Name], [Position], [GasCenterNo]) VALUES (1, N'شركة النحلة للبترول ', NULL, N'مخمد اسماعيل سعيد', CAST(0x6A420B00 AS Date), CAST(0x6A420B00 AS Date), N'لخرطوم', N'بحري', N'الكدرو', N'15', N'2', N'مقدم ركن', N'صلاح الامين سعد عوض الكريم', N'مساعد مفتش عام مفرقعات السودان', NULL)
INSERT [dbo].[GasCenters] ([GasCenterID], [Company], [GasType], [Representitive], [PermissionDate], [CompanyLetterDate], [State], [Township], [City], [Land], [Block], [Rank], [Name], [Position], [GasCenterNo]) VALUES (2, N'شركة النحلة للبترول ', NULL, N'غاز النحلة', CAST(0x70420B00 AS Date), CAST(0x70420B00 AS Date), N'لخرطوم', N'جبل اولياء', N'حي الزهراء', N'132', N'1', N'مقدم ركن', N'صلاح الامين سعد عوض الكريم', N'مساعد مفتش عام مفرقعات السودان', NULL)
INSERT [dbo].[GasCenters] ([GasCenterID], [Company], [GasType], [Representitive], [PermissionDate], [CompanyLetterDate], [State], [Township], [City], [Land], [Block], [Rank], [Name], [Position], [GasCenterNo]) VALUES (3, N'شركة النحلة للبترول ', N'النحلة', N'بابكر جادين بابكر محمد', CAST(0x70420B00 AS Date), CAST(0x70420B00 AS Date), N'لخرطوم', N'جبل اولياء', N'حي الزهراء', N'132', N'1', N'مقدم ركن', N'صلاح الامين سعد عوض الكريم', N'مساعد مفتش عام مفرقعات السودان', NULL)
SET IDENTITY_INSERT [dbo].[GasCenters] OFF
/****** Object:  Table [dbo].[FuelStations]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelStations](
	[FuelStationID] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](150) NULL,
	[Representitive] [nvarchar](100) NULL,
	[PermissionDate] [date] NULL,
	[CompanyLetterDate] [date] NULL,
	[State] [nvarchar](50) NULL,
	[Township] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Land] [nvarchar](20) NULL,
	[Block] [nvarchar](20) NULL,
	[Rank] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NULL,
	[FuelStationNo] [int] NULL,
	[Area] [nvarchar](20) NULL,
	[UrbanPlanningLetterDate] [date] NULL,
 CONSTRAINT [PK_FuelStations] PRIMARY KEY CLUSTERED 
(
	[FuelStationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FuelStations] ON
INSERT [dbo].[FuelStations] ([FuelStationID], [Company], [Representitive], [PermissionDate], [CompanyLetterDate], [State], [Township], [City], [Land], [Block], [Rank], [Name], [Position], [FuelStationNo], [Area], [UrbanPlanningLetterDate]) VALUES (1, N'شركة النيل ', N'محمد اسماعيل سعيد الحسن', CAST(0x71420B00 AS Date), CAST(0x71420B00 AS Date), N'نهر النيل', N'بربر', N'بربر', N'25', N'2', N'مقدم ركن', N'صــلاح الامــين ســعـد عوض الكريم', N'مساعد مفتش عام مفرقعات السودان', NULL, N'4800م', CAST(0x71420B00 AS Date))
SET IDENTITY_INSERT [dbo].[FuelStations] OFF
/****** Object:  Table [dbo].[FireworksRequests]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FireworksRequests](
	[FireworksRequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestDate] [date] NULL,
	[Sender] [nvarchar](150) NULL,
	[Receiver] [nvarchar](150) NULL,
	[Rank] [nvarchar](150) NULL,
	[Name] [nvarchar](150) NULL,
	[Position] [nvarchar](150) NULL,
	[FireworksRequestNo] [int] NULL,
 CONSTRAINT [PK_FireworksRequests] PRIMARY KEY CLUSTERED 
(
	[FireworksRequestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FireworksRequests] ON
INSERT [dbo].[FireworksRequests] ([FireworksRequestID], [RequestDate], [Sender], [Receiver], [Rank], [Name], [Position], [FireworksRequestNo]) VALUES (1, CAST(0x6A420B00 AS Date), N'شركة تارقيت للأنشطة المتعددة', N' الرضاء للانشطة المتعددة', NULL, NULL, NULL, 1)
INSERT [dbo].[FireworksRequests] ([FireworksRequestID], [RequestDate], [Sender], [Receiver], [Rank], [Name], [Position], [FireworksRequestNo]) VALUES (2, CAST(0x6C420B00 AS Date), NULL, NULL, NULL, NULL, N'مساعد مفتش عام مفرقعات السودان', 1)
INSERT [dbo].[FireworksRequests] ([FireworksRequestID], [RequestDate], [Sender], [Receiver], [Rank], [Name], [Position], [FireworksRequestNo]) VALUES (3, CAST(0x6D420B00 AS Date), NULL, NULL, NULL, NULL, N'مساعد مفتش عام مفرقعات السودان ', 1)
SET IDENTITY_INSERT [dbo].[FireworksRequests] OFF
/****** Object:  Table [dbo].[FireworksRequestDetails]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FireworksRequestDetails](
	[FireworksReqeustDetailID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[Unti] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 2) NULL,
	[FireWorksRequestID] [int] NULL,
 CONSTRAINT [PK_FireworksRequestDetails] PRIMARY KEY CLUSTERED 
(
	[FireworksReqeustDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FireworksRequestDetails] ON
INSERT [dbo].[FireworksRequestDetails] ([FireworksReqeustDetailID], [Description], [Unti], [Quantity], [FireWorksRequestID]) VALUES (5, N'كبسولة كهربائية تاخيرية 4 متر', N'قطعة', CAST(200.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[FireworksRequestDetails] ([FireworksReqeustDetailID], [Description], [Unti], [Quantity], [FireWorksRequestID]) VALUES (6, N'املشن 32 مم', N'كجم', CAST(2000.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[FireworksRequestDetails] ([FireworksReqeustDetailID], [Description], [Unti], [Quantity], [FireWorksRequestID]) VALUES (10, N'املشن 30مم', N'كجم', CAST(1000.00 AS Decimal(18, 2)), 5)
SET IDENTITY_INSERT [dbo].[FireworksRequestDetails] OFF
/****** Object:  Table [dbo].[Fireworks]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fireworks](
	[FireworksID] [int] IDENTITY(1,1) NOT NULL,
	[Fees] [decimal](18, 2) NULL,
	[FID] [int] NULL,
	[Company] [nvarchar](150) NULL,
	[Job] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[PermissionDate] [date] NULL,
	[CompanyLetterDate] [date] NULL,
	[State] [nvarchar](50) NULL,
	[Township] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Land] [nvarchar](20) NULL,
	[Block] [nvarchar](20) NULL,
	[Type] [nvarchar](20) NULL,
	[Rank] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NULL,
	[LargStoreNo] [nvarchar](20) NULL,
	[MidStoreNo] [nvarchar](20) NULL,
	[SmallStoreNo] [nvarchar](20) NULL,
	[FireworksNo] [int] NULL,
 CONSTRAINT [PK_Fireworks] PRIMARY KEY CLUSTERED 
(
	[FireworksID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceDetials]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceDetials](
	[FinanceDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Data] [nvarchar](150) NULL,
	[FinanceID] [int] NULL,
 CONSTRAINT [PK_FinanceDetials] PRIMARY KEY CLUSTERED 
(
	[FinanceDetailsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINANCE]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINANCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MONEYIN] [decimal](10, 0) NULL,
	[MONEYTEXT] [nvarchar](60) NULL,
	[CERTIFIER] [nvarchar](60) NULL,
	[SIDENAME] [nvarchar](60) NULL,
	[COME] [nvarchar](60) NULL,
	[RECEIVEE] [nvarchar](60) NULL,
	[RECEIVER] [nvarchar](60) NULL,
	[STATION] [nvarchar](60) NULL,
	[FDATE] [date] NULL,
	[EXPLANATION] [nvarchar](60) NULL,
	[STATUS] [nvarchar](60) NULL,
	[NOTES] [nvarchar](60) NULL,
	[MONEYOUT] [decimal](18, 0) NULL,
	[STATUSID] [decimal](18, 0) NULL,
	[Rank] [nvarchar](50) NULL,
	[Name] [nvarchar](250) NULL,
	[Position] [nvarchar](250) NULL,
	[FinanceNo] [int] NULL,
 CONSTRAINT [PK_FINANCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRACTCLASS]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRACTCLASS](
	[AMMOUNT] [numeric](10, 0) NULL,
	[CLASS] [nvarchar](35) NULL,
	[FID] [nvarchar](15) NULL,
	[CLASSID] [nvarchar](20) NULL,
	[RECEIVER] [nvarchar](50) NULL,
	[DISTRACTOR] [nvarchar](50) NOT NULL,
	[RECORD] [nvarchar](50) NULL,
	[ACCOUNT] [nvarchar](15) NULL,
	[DISTDATE] [date] NULL,
	[UNIT] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDNAMES]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONDNAMES](
	[ID] [int] NOT NULL,
	[NAME] [varchar](40) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'EXPLOSIVES.CONDNAMES.ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CONDNAMES', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'EXPLOSIVES.CONDNAMES."NAME"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CONDNAMES', @level2type=N'COLUMN',@level2name=N'NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'EXPLOSIVES.CONDNAMES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CONDNAMES'
GO
/****** Object:  Table [dbo].[Conditions]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conditions](
	[ConditionID] [int] IDENTITY(1,1) NOT NULL,
	[Condition] [nvarchar](100) NULL,
	[PermissionNameID] [int] NULL,
 CONSTRAINT [PK_Conditions] PRIMARY KEY CLUSTERED 
(
	[ConditionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Conditions] ON
INSERT [dbo].[Conditions] ([ConditionID], [Condition], [PermissionNameID]) VALUES (1, N'كروكي الموقع (شركة & محجر )', 1)
INSERT [dbo].[Conditions] ([ConditionID], [Condition], [PermissionNameID]) VALUES (2, N'شعادة صحة البيئه (شركة & محجر )', 1)
INSERT [dbo].[Conditions] ([ConditionID], [Condition], [PermissionNameID]) VALUES (3, N'رخصة محجر من الولاية (محجر)', 1)
SET IDENTITY_INSERT [dbo].[Conditions] OFF
/****** Object:  Table [dbo].[CLASSES]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASS] [nvarchar](50) NULL,
	[UNIT] [nvarchar](10) NULL,
	[RECENT] [decimal](18, 2) NULL,
	[IMPORTED] [decimal](18, 2) NULL,
	[DISTRACTED] [decimal](18, 2) NULL,
	[ACCOUNT] [nvarchar](20) NULL,
 CONSTRAINT [PK_CLASSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLASSES] ON
INSERT [dbo].[CLASSES] ([ID], [CLASS], [UNIT], [RECENT], [IMPORTED], [DISTRACTED], [ACCOUNT]) VALUES (1, N'بوستر 250 جرام', N'قطعة', NULL, NULL, NULL, N'مفرقعات')
INSERT [dbo].[CLASSES] ([ID], [CLASS], [UNIT], [RECENT], [IMPORTED], [DISTRACTED], [ACCOUNT]) VALUES (2, N'كبسوله نونل 9 متر صيني', N'', NULL, NULL, NULL, N'مفرقعات')
INSERT [dbo].[CLASSES] ([ID], [CLASS], [UNIT], [RECENT], [IMPORTED], [DISTRACTED], [ACCOUNT]) VALUES (3, N'أنفو', N'كجم', NULL, NULL, NULL, N'مفرقعات')
SET IDENTITY_INSERT [dbo].[CLASSES] OFF
/****** Object:  Table [dbo].[Ammo]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ammo](
	[AmmoID] [int] IDENTITY(1,1) NOT NULL,
	[AmmoStoreNo] [nvarchar](20) NULL,
	[Company] [nvarchar](150) NULL,
	[PermissionDate] [date] NULL,
	[CompanyLetterDate] [date] NULL,
	[State] [nvarchar](50) NULL,
	[Township] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Land] [nvarchar](20) NULL,
	[Block] [nvarchar](20) NULL,
	[Rank] [nvarchar](20) NULL,
	[Name] [nvarchar](100) NULL,
	[Position] [nvarchar](50) NULL,
	[ReceiptNo] [nvarchar](20) NULL,
	[Fees] [decimal](18, 2) NULL,
	[FID] [int] NULL,
	[Job] [nvarchar](50) NULL,
	[LargStoreNo] [nvarchar](50) NULL,
	[MidStoreNo] [nvarchar](50) NULL,
	[SmallStoreNo] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[AmmoNo] [int] NULL,
 CONSTRAINT [PK_Ammo] PRIMARY KEY CLUSTERED 
(
	[AmmoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 05/03/2021 13:43:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[ID] [int] NOT NULL,
	[ACCOUNT] [nvarchar](50) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounts] ([ID], [ACCOUNT]) VALUES (1, N'مفرقعات')
INSERT [dbo].[Accounts] ([ID], [ACCOUNT]) VALUES (2, N'ألعاب')
INSERT [dbo].[Accounts] ([ID], [ACCOUNT]) VALUES (3, N'ذخيرة')
/****** Object:  Default [DF_IMPORTALLOWED_IsDistributor]    Script Date: 05/03/2021 13:43:01 ******/
ALTER TABLE [dbo].[IMPORTALLOWED] ADD  CONSTRAINT [DF_IMPORTALLOWED_IsDistributor]  DEFAULT ((0)) FOR [IsDistributor]
GO
